language: python
python:
  - "3.6"
before_install:
  - pip install pytest pytest-cov==2.5.1
  - pip install coveralls
install:
  - python --version
  - pip install --upgrade pip setuptools wheel
  - pip install numpy scipy pytest-cov hypothesis bbcs-tools mock matplotlib
  - pip install -e . --no-dependencies
script:
  - py.test --cov=saenopy
after_success:
  - coveralls
